@import "tailwindcss";

body {
  background-color: #f4f4f4;
}
section {
  padding: 60px 0px;
}

@layer base {
  h1 {
    @apply text-[clamp(1.8rem,5vw,4rem)] leading-[130%] font-normal mb-4 text-[#1c1c1c];
  }
  h2 {
    @apply text-5xl font-semibold;
  }
  h3 {
    @apply text-3xl font-medium leading-12;
  }
  h4 {
    @apply text-lg font-semibold text-[#1c1c1c];
  }
  h5 {
    @apply text-lg font-normal text-[#525252];
  }
}
